/*font-families:
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

main {
    padding-top: 100px;
    
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid grey;
    margin: 0px 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

section {
    border: 1px solid black;
    margin: 60px 20px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    
}

h1 {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-size: 1.3em;
}

p {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}

.title {
    color: #000;
    font-size: 20px;
    padding-left: 10px;
}

.nav-items {
    margin-right: 10px;
    display: flex;
    list-style: none;
}

.nav-items li {
    margin-right: 40px;
}

.nav-items li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.headings {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px dashed grey;
    margin-bottom: 20px;
   
}

.my-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 40px;

}

.my-colors p {
    color: white;
}

.color-box {
    border: 1px solid black;
    height: 300px;
    width: 150px;
    display: inline-block;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    
}

#lion {
    background-color: #AA8F66;
}

#butterscotch {
    background-color: #ED9B40;
}

#antique-white {
    background-color: #FFEEDB;
}

#mint {
    background-color: #61C9A8;
}

#cardinal {
    background-color: #BA3B46;
}


#antique-white p {
    color: black;
}

#text-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 40px;
}

#text-style-blocks {
    padding: 0px 40px;
}


.regular {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.nunito-sans {
    font-family: 'Nunito Sans', sans serif;
}

.poppins {
    font-family: 'Poppins', sans serif;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}


.my-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.buttons {
    border: 1px solid black;
    height: 60px;
    width: 150px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.buttons p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    line-height: 30px;
    font-weight: normal;
  
}

.buttons p:hover {
    cursor: pointer;
}

#primary-button {
    background-color: #AA8F66;
}

#primary-button:hover {
    background-color: #AA8F40;
}

#secondary-button {
    background-color: #FFEEDB;
}

#secondary-button:hover {
    background-color: white;
}

#confirmation-button {
    background-color: #61C9A8;
}

#confirmation-button:hover {
    background-color: #16a578;
}

#warning-button {
    background-color: #BA3B46;
}

#warning-button:hover {
    background-color: #d00c1c;
}





